In [36]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

Extracting The CSV into a DataFrame

In [37]:
reviews_file="Resources/reviews.csv"

# Reading the Csv and creating a df
reviews_file_df = pd.read_csv(reviews_file).set_index('listing_id')
reviews_file_df.head()

,id,date,reviewer_id,reviewer_name,comments
listing_id,,,,,
7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [51]:
# reviews_file_df[reviews_file.name != 'Bianca']

# reviews_file

# # # reviews_file.drop(reviews_file_df.index[1])
# # reviews_file

AttributeError: 'str' object has no attribute 'name'

Transforming the Reviews DataFrame

In [52]:
#Create new data with select columns

## Groupby the listing_id

# reviews_clean = reviews_file_df.drop(columns=['id','reviewer_id','reviewer_name'])
reviews_new = pd.DataFrame(reviews_clean.sort_values(['listing_id','date']).dropna())

#clean_reviews=reviews_clean.dropna()
reviews_new.head()
# rename the columns
# reviews_clean.rename(columns={"comments":"Reviews"})

                  date                                           comments
listing_id
4291        2013-07-01  We had a great stay in Seattle, great location...
4291        2013-07-08  Greatly enjoyed our quick stay here. We booked...
4291        2013-07-14  We had a great experience in Seattle. We enjoy...
4291        2013-08-03  Good room, hosts , and location. Very positive...
4291        2013-08-06  I had a very good experience staying with Jess...

Create database connection

In [53]:

connection= "postgres:postgres@localhost:5432/reviews_db"

# create engine
engine = create_engine(f'postgresql://{connection}')

In [54]:
# cheking for the table: reviews

engine.table_names()

['review']

 Use of  pandas to load csv converted DataFrame into database

In [55]:
reviews_new.to_sql(name='review', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "comments" of relation "review" does not exist
LINE 1: INSERT INTO review (date, comments) VALUES ('2013-07-01', 'W...
                                  ^

[SQL: INSERT INTO review (date, comments) VALUES (%(date)s, %(comments)s)]
[parameters: ({'date': '2013-07-01', 'comments': "We had a great stay in Seattle, great location and the room was very clean.\r\n\r\nThe only thing we didn't feel comfortable with was the fact that w ... (149 characters truncated) ... and the main door was left open during the day for the hair salon down below. We could only lock the door from the inside once we were in the room.  "}, {'date': '2013-07-08', 'comments': "Greatly enjoyed our quick stay here. We booked the same day or the day before and they happened to have the room available and check in and everythin ... (342 characters truncated) ... hat didn't seem to be much of a problem for us. The view at sunrise is to die for and I suggest waking up even if just to go back to sleep to see it!"}, {'date': '2013-07-14', 'comments': 'We had a great experience in Seattle. We enjoyed the view of Ranier out the window. We were close to the starting point of the Cascade Cycling,Seattle to Portland  Ride which was why we were in Seattle. We would definitely stay there again. '}, {'date': '2013-08-03', 'comments': 'Good room, hosts , and location. Very positive experience for my first airbnb stay.'}, {'date': '2013-08-06', 'comments': "I had a very good experience staying with Jess and Joey at their home on 15th Ave. The house is conveniently located on a major thoroughfare in Seatt ... (1029 characters truncated) ... with expensive technology or are particularly cautious. I would definitely stay here again and would recommend it to others -- thanks, Jess and Joey!"}, {'date': '2013-08-10', 'comments': 'The Sunrise in Seattle Master Suite was perfect. Just what we were looking for at a truly AMAZING rate. What a steal. Jess & Joey were great hosts, e ... (46 characters truncated) ... hris and I thoroughly enjoyed our stay and will absolutely do so again. We highly recommend to anyone looking for a great space in the Seattle area! '}, {'date': '2013-08-13', 'comments': 'We had a great three day stay in Seattle.  This location is convenient to I-5 and U Washington and  there are several restaurants and coffee shops within easy walking distance .  The best breakfast in Seattle is only a short drive away.  This is a comfortable, convenient place to stay.'}, {'date': '2013-08-30', 'comments': 'A great place to stay in Seattle. Nice big room with very comfy bed and excellent bathroom with a good bus link into downtown. '}  ... displaying 10 of 84831 total bound parameter sets ...  {'date': '2016-01-02', 'comments': "My mom and I came for a 4 day trip and had a great stay at Elise's place. She was very friendly and helpful with providing basic directions to get ar ... (73 characters truncated) ... nd Downtown, about a $10 uber ride either direction and a close by bus stop. I would stay here again for sure, it was a cute room for a great price! "}, {'date': '2016-01-02', 'comments': 'I was able to book on the last minute and work really well for me ! Lldrich was very nice and polite ! '})]
(Background on this error at: http://sqlalche.me/e/f405)