In [2]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [9]:
listings_file = "listings.csv"
listings_df = pd.read_csv(listings_file)
listings_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [10]:
listings_clean = listings_df[['id', 'name','property_type', 'listing_url','street','description','amenities','price','security_deposit','cancellation_policy','transit','picture_url','host_response_time','cleaning_fee','extra_people','has_availability']]
listings_clean.head()

,id,name,property_type,listing_url,street,description,amenities,price,security_deposit,cancellation_policy,transit,picture_url,host_response_time,cleaning_fee,extra_people,has_availability
0,241032,Stylish Queen Anne Apartment,Apartment,https://www.airbnb.com/rooms/241032,"Gilman Dr W, Seattle, WA 98119, United States",Make your self at home in this charming one-be...,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",$85.00,NaN,moderate,NaN,https://a1.muscache.com/ac/pictures/67560560/c...,within a few hours,NaN,$5.00,t
1,953595,Bright & Airy Queen Anne Apartment,Apartment,https://www.airbnb.com/rooms/953595,"7th Avenue West, Seattle, WA 98119, United States",Chemically sensitive? We've removed the irrita...,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$150.00,$100.00,strict,"Convenient bus stops are just down the block, ...",https://a0.muscache.com/ac/pictures/14409893/f...,within an hour,$40.00,$0.00,t
2,3308979,New Modern House-Amazing water view,House,https://www.airbnb.com/rooms/3308979,"West Lee Street, Seattle, WA 98119, United States",New modern house built in 2013. Spectacular s...,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",$975.00,"$1,000.00",strict,A bus stop is just 2 blocks away. Easy bus a...,https://a2.muscache.com/ac/pictures/b4324e0f-a...,within a few hours,$300.00,$25.00,t
3,7421966,Queen Anne Chateau,Apartment,https://www.airbnb.com/rooms/7421966,"8th Avenue West, Seattle, WA 98119, United States",A charming apartment that sits atop Queen Anne...,"{Internet,""Wireless Internet"",Kitchen,""Indoor ...",$100.00,NaN,flexible,NaN,https://a0.muscache.com/ac/pictures/94146944/6...,NaN,NaN,$0.00,t
4,278830,Charming craftsman 3 bdm house,House,https://www.airbnb.com/rooms/278830,"14th Ave W, Seattle, WA 98119, United States",Cozy family craftman house in beautiful neighb...,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",$450.00,$700.00,strict,The nearest public transit bus (D Line) is 2 b...,https://a1.muscache.com/ac/pictures/6120468/b0...,within an hour,$125.00,$15.00,t

In [11]:
rds_connection_string = "postgres:1996@localhost:5432/listings_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [12]:
engine.table_names()

['listings']

In [13]:
listings_clean.to_sql(name='listings', con=engine, if_exists='append', index=False)

In [14]:
all_together = pd.read_sql_query('select * from listings', con=engine)

In [15]:
all_together.head()

,id,name,property_type,listing_url,street,description,amenities,price,security_deposit,cancellation_policy,transit,picture_url,host_response_time,cleaning_fee,extra_people,has_availability
0,241032,Stylish Queen Anne Apartment,Apartment,https://www.airbnb.com/rooms/241032,"Gilman Dr W, Seattle, WA 98119, United States",Make your self at home in this charming one-be...,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",$85.00,None,moderate,None,https://a1.muscache.com/ac/pictures/67560560/c...,within a few hours,None,$5.00,True
1,953595,Bright & Airy Queen Anne Apartment,Apartment,https://www.airbnb.com/rooms/953595,"7th Avenue West, Seattle, WA 98119, United States",Chemically sensitive? We've removed the irrita...,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$150.00,$100.00,strict,"Convenient bus stops are just down the block, ...",https://a0.muscache.com/ac/pictures/14409893/f...,within an hour,$40.00,$0.00,True
2,3308979,New Modern House-Amazing water view,House,https://www.airbnb.com/rooms/3308979,"West Lee Street, Seattle, WA 98119, United States",New modern house built in 2013. Spectacular s...,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",$975.00,"$1,000.00",strict,A bus stop is just 2 blocks away. Easy bus a...,https://a2.muscache.com/ac/pictures/b4324e0f-a...,within a few hours,$300.00,$25.00,True
3,7421966,Queen Anne Chateau,Apartment,https://www.airbnb.com/rooms/7421966,"8th Avenue West, Seattle, WA 98119, United States",A charming apartment that sits atop Queen Anne...,"{Internet,""Wireless Internet"",Kitchen,""Indoor ...",$100.00,None,flexible,None,https://a0.muscache.com/ac/pictures/94146944/6...,None,None,$0.00,True
4,278830,Charming craftsman 3 bdm house,House,https://www.airbnb.com/rooms/278830,"14th Ave W, Seattle, WA 98119, United States",Cozy family craftman house in beautiful neighb...,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",$450.00,$700.00,strict,The nearest public transit bus (D Line) is 2 b...,https://a1.muscache.com/ac/pictures/6120468/b0...,within an hour,$125.00,$15.00,True

In [19]:
#all_together.style.set_properties(**{'background-color': 'black',
  #                         'color': 'white'})

In [21]:
reviews_file = "reviews.csv"
reviews_df = pd.read_csv(reviews_file)
reviews_df.dropna()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...
...,...,...,...,...,...,...
84844,3624990,50436321,2015-10-12,37419458,Ryan,The description and pictures of the apartment ...
84845,3624990,51024875,2015-10-17,6933252,Linda,We had an excellent stay. It was clean and com...
84846,3624990,51511988,2015-10-20,19543701,Jaime,"Gran ubicaciÃ³n, cerca de todo lo atractivo del..."
84847,3624990,52814482,2015-11-02,24445024,JÃ¸rgen,"Very good apartement, clean and well sized. Si..."
84848,9727246,56429621,2015-12-13,30860360,Stephanie,"Breanne was a great host. Check in was easy, s..."

In [29]:
reviews_clean = reviews_df[['review_name','listing_id','date','comments']]
reviews_clean.head()

,id,listing_id,date,comments
0,38917982,7202016,2015-07-19,Cute and cozy place. Perfect location to every...
1,39087409,7202016,2015-07-20,Kelly has a great room in a very central locat...
2,39820030,7202016,2015-07-26,"Very spacious apartment, and in a great neighb..."
3,40813543,7202016,2015-08-02,Close to Seattle Center and all it has to offe...
4,41986501,7202016,2015-08-10,Kelly was a great host and very accommodating ...

In [30]:
rds_connection_string = "postgres:1996@localhost:5432/listings_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [31]:
engine.table_names()

['listings', 'reviews']

In [ ]:
reviews_clean.to_sql(name='reviews', con=engine, if_exists='append', index=False)

In [ ]:
all_reviews = pd.read_sql_query('select * from reviews', con=engine)

In [ ]:
all_reviews

In [ ]:
#all_reviews.style.set_properties(**{'background-color': 'black',
                       #'color': 'white'})